@using Model.ViewModels.BasketViewModels;
@model BasketCommoditiesUserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<div class="container">
    
    <h1>Your Basket </h1>
    <table>
        <tr>
            <td scope="col" class="col-md-1">
                <a class="btn btn-danger" asp-action="Clean" asp-route-basketId="@ViewData["basketId"]"><em>Clean</em></a>
            </td>            
            <td scope="col" class="col-md-11">
                <a class="btn btn-success" asp-action="Create" asp-controller="RequiredInormation" asp-route-basketId="@ViewData["basketId"]"><em>Confirm</em></a>
            </td>
        </tr>
    </table>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-md-3">
                    <h3>Commodities</h3>
                </th>       
                <th scope="col" class="col-md-3"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.CommodityUser)
            {
            <tr>
                <td>
                    @if (item.PhotoName != null)
                    {
                        <img class="logo basket-paint" src=@item.PhotoName alt="logo" />
                    }
                    else
                    {
                        <img class="logo basket-paint" src="~/images/43.png" alt="Placeholder" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="MinusOne" asp-route-basketId="@ViewData["basketId"]" asp-route-commodityId="@item.Id"><em>-</em></a> 
                    @Html.DisplayFor(modelItem => item.Amount)
                    <a class="btn btn-success" asp-action="PlusOne" asp-route-basketId="@ViewData["basketId"]" asp-route-commodityId="@item.Id"><em>+</em></a> 
                </td>

                <td>
                    <a class="btn btn-warning" asp-action="Delete" asp-route-basketId="@ViewData["basketId"]" asp-route-commodityId="@item.Id"><em class="glyphicon glyphicon-trash"></em></a> 

                </td>
            </tr>

            }
        </tbody>
    </table>

</div>
