@using Model.ViewModels.CommodityViewModels;
@model CommodityViewModel


        <div class="container">

            <h1>All commodity </h1>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-action="IndexAdmin" class="btn btn-primary">Back to List</a>  
        }
        else
        {
            <a asp-action="Index" class="btn btn-primary">Back to List</a>  
        }
           
            <br/>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="col-md-3">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th scope="col" class="col-md-3">
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th scope="col" class="col-md-3"></th>
                    </tr>
                </thead>
                <tbody>
               
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Price)
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @if (Model.PhotoName != null)
                                {
                                    <img class="logo" src=@Model.PhotoName alt="logo" />
                                }
                                else
                                {
                                    <img class="logo" src="~/images/43.png" alt="Placeholder" />
                                }
                            }
                            else
                            {
                                <a asp-action="AddPhoto" asp-controller="Photo" asp-route-commodityId="@Model.Id">
                                    @if (Model.PhotoName != null)
                                    {
                                        <img class="logo" src=@Model.PhotoName alt="logo" />
                                    }
                                    else
                                    {
                                        <img class="logo" src="~/images/43.png" alt="Placeholder" />
                                    }
                                </a>
                            }
                            </td>
                    </tr>

                </tbody>
            </table>

        </div>
