@using Model.ViewModels.CommodityViewModels;
@model IEnumerable<CommodityUserViewModel>
@{
    <html>
    <head>
        <link href="~/css/Stylecom.css" rel="stylesheet" />
    </head>
    <body>
    <h1>All commodity </h1>
    <div class="features">


        <ul class="features__list">

            @foreach (var item in Model)
            {

                <li class="features__item">
                    <div class="content">
                        <div>
                            @if (item.PhotoName != null)
                            {
                                <img class="logo im" src=@item.PhotoName alt="logo"/>
                            }
                            else
                            {
                                <img class="logo" src="~/images/43.png" alt="Placeholder"/>
                            }
                        </div>

                        <h4>
                            @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(modelItem => item.Name)
                        </h4>
                        <h4>
                            @Html.DisplayNameFor(model => model.Price) : @Html.DisplayFor(modelItem => item.Price)
                        </h4>
                        <h5>
                            @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(modelItem => item.Description)
                        </h5>



                        <div scope="col" class="">
                            <a class="btn btn-warning" asp-action="AddToBasket" asp-controller="Commodity" asp-route-commodityId="@item.Id"><em>Buy</em></a>


                        </div>
                    </div>

                </li>

            }

        </ul>
    </div>
    </body>
    </html>
}