@using Model.ViewModels.ReceiptViewModels
@model IEnumerable<ReceiptViewModel>
@{
}
<div class="container">

    <h1>Your Receipts</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-md-3">
                 Check
                </th>
                
                <th scope="col" class="col-md-3"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td scope="col" class="col-md-1">

                        @Html.DisplayNameFor(modelItem => item.FullName) : 
                        <br/>   @Html.DisplayNameFor(modelItem => item.PhoneNumber) :  
                        <br/>   @Html.DisplayNameFor(modelItem => item.City) :  
                        <br/>   @Html.DisplayNameFor(modelItem => item.AddressLine1) :
                        
                        <br/>   @Html.DisplayNameFor(modelItem => item.AddressLine2) : 
                        <br/>   @Html.DisplayNameFor(modelItem => item.PostalCode) :
                        <br/>   @Html.DisplayNameFor(modelItem => item.PaymentMethod) :
                        <br/>   @Html.DisplayNameFor(modelItem => item.ShippingMethod) : 
                        <br/>   @Html.DisplayNameFor(modelItem => item.DateCheck) : 

                    </td>
                    <td scope="col" class="col-md-1">

                        @Html.DisplayFor(modelItem => item.FullName)
                        <br/>   @Html.DisplayFor(modelItem => item.PhoneNumber)
                        <br/>   @Html.DisplayFor(modelItem => item.City)
                        <br/>   @Html.DisplayFor(modelItem => item.AddressLine1)
                        <br/>   @Html.DisplayFor(modelItem => item.AddressLine2)
                        @foreach (var citem in item.CommodityUser)
                        {
                            @*<br/>  @
                            @Html.DisplayFor(modelCitem => citem.Name)
                            @Html.DisplayFor(modelCitem => citem.Amount)     
                            @Html.DisplayFor(modelCitem => citem.Price)*@     
                        }
                        <br/>   @Html.DisplayFor(modelItem => item.PostalCode)
                        <br/>   @Html.DisplayFor(modelItem => item.PaymentMethod)
                        <br/>   @Html.DisplayFor(modelItem => item.ShippingMethod)
                        <br/>   @Html.DisplayFor(modelItem => item.DateCheck)

                    </td>
                    <td scope="col" class="col-md-7">

                    </td>
                                      
                </tr>

            }
        </tbody>

    </table>
</div>
